/*----------------*/
   /*Setting up*/
 /*---------------*/
@use '../scss/global.scss' as c;

body{background:c.color(main-bg)}
@mixin flex-columns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin button {
  border:0;
  font-weight:bold;
  color: c.color(white-color);
  cursor: pointer;
  border-radius: 100px;
  background:linear-gradient(c.color(cyan-color) ,c.color(blue-color));
}
/*----------------*/
   /*Navagetion*/
 /*---------------*/
#navbar{
  padding:5rem 1rem;
  @include flex-columns();
  .logo{
    width: 100px;
    display:inline-block;
  }
  .main-nav{
    padding:1px;
    li{
      padding: 0 4rem;
      float:left;
    }
    a{
      color:c.color(white-color);
      font-size:1rem;
      transition:3s;
      &:hover{
        border-bottom:1px solid c.color(white-color);
        transition: all 3s;
      }
    }
  }
}
/*----------------*/
    /*Header*/
 /*---------------*/

 .main-page{
  background-color: c.color(other-color);
  color: c.color(white-color);
  position: relative;
 }

 #hero{
   .content{
     z-index:1;
     padding:10px;
     display:flex;
     justify-content:center;
     flex-direction:column;
     align-items:center;
     background:url('../images/bg-curvy-desktop.svg') bottom no-repeat;
     background-size:100% 300px;
   }
   img{
     width:700px;
     margin: 0 auto;
     display: block;
   }
   h1{
    color:c.color(white-color);
    font-weight:700;
    font-size: 2rem;
    width: 50%;
    text-align: center;
   }
   p{
     width:40%;
     margin: 2rem;
     line-height:1.5rem;
     color:c.color(white-color);
   }
   .btn{
     @include button();
     padding:1rem 5rem;
   }
 }
/*----------------*/
    /*Product*/
 /*---------------*/
 #product{
   padding:2rem;
   .plan{
     text-align:center;
     padding-top:4rem;
     width:100%;
     @include flex-items();
     .item{
       padding-top:4rem; 
       img{
         width: 80px;
         padding: 1rem 0;
       }
       p{
         line-height: 1.5rem;
         text-align: center;
         width: 26rem;
         color: c.color(white-color);
         padding:2rem;
       }
       h3{
         font-weight:900;
         font-size:1.3rem;
       }
     }
   }
 }

 /*----------------*/
    /*Product*/
 /*---------------*/

 #productive{
   .showcase-productive{
     @include flex-items();
     .item{
       padding-left: 2rem;

       img{width: 550px;}
     }

     .item:last-child{
      h2{font-size:2rem;}
     
    
       P{
         padding: 1.3rem 0;
         line-height:1.7rem;
       }
       a{
         color:c.color(cyan-color);
         border-bottom:1px solid c.color(cyan-color);
         padding-bottom:2px;
         img{width:1rem;}
       }
      }
   }
 }

 @media(max-width:776px){
    #navbar{padding:2rem 1rem;
      .main-nav{
        li{padding: 0;}
        
        a{
          padding: 0 5px;
          
        }
      }
    }

    #hero{
      height: 50%;
      .content{
        background:url('../images/bg-curvy-mobile.svg') bottom no-repeat;
        background-size:100% 150px;

        img{width: 100%;}

        h1{font-size:1.5rem;}

        h1,p{width: 100%;}

        P{text-align: center;}
      }
    }
    @mixin flex-items {flex-direction: column;}

    #product{
      padding:2rem;
      .plan{
        padding-top:3rem;
        @include flex-items();
        .item{
          padding-top:2rem; 
          img{
            padding-top:3rem;
          }
          p{
            width:100%;
            padding:2rem 0.3rem;
          }
        }
      }
    }
   
    //Productive
  #productive{
    background:c.color(other-color);  
    .showcase-productive{
      @include flex-items();
      
      .item{
        padding-left:1rem;
        
        img{width:100%;}
        h2{ font-size: 1rem;}
      }
    }
  }


}

  
    
//small screen less than 289
@media(max-width:289px){
  #navbar{
    .main-nav a{font-size: 0.8rem;}
    .logo{width: 70px;}
  }
}







